*, html, body, html body {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

.bod {
  background: #ddebf4;
  border-radius: 10px;
  margin: 40px 150px;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #b3ced2;
}

.card {
  width: 100%;
}

.button {
  padding: 0px 0px;
}

.button-b {
  background: #8ebae4;
  border-radius: 5px;
  padding: 8px 20px ;
  margin: 20px 0px;
}

.form {
  width: 100%;
}

form input {
  width: 100%;
  border: 1px solid #b3ced2;
}

form textarea {
  width: 100%;
}

.prompt_textarea {
  height: 200px;
}

.textarea_label {
  display: inline-block;
  margin: 10px 0px;
  font-weight: bold;
}

.textarea {
  border: null;
  width: 250px;
  height: 40px;
  padding: 10px;
}
